<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Mi App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/coches" routerLinkActive="active">Coches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/personas" routerLinkActive="active">Personas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/personaStandalone" routerLinkActive="active">Personas Standalone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/plantilla" routerLinkActive="active">Plantilla</a>
                </li><li class="nav-item">
                    <a class="nav-link" routerLink="/plantillaMultiple" routerLinkActive="active">Plantilla Seleccion Multiple</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        Servicios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/">Servicio 1</a></li>
                        <li><a class="dropdown-item" routerLink="/">Servicio 2</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" routerLink="/">Todos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                </li>
            </ul>
        </div>
    </div>
</nav>
